
@{
    ViewData["Title"] = "VerifyMsg";
}
<h1>Welcome @TempData["User_Name"]</h1>
<h1>Thank you for Registration</h1>
<h2>Your Account will be verified</h2>

<br />
<a asp-controller="User" asp-action="Login"  class="btn btn-secondary" style="width:150px">Login</a>